<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haishili.mapper.DepartmentMapper">
    <insert id="addDept" parameterType="department">
        insert into tb_dept (deptid,name)
        values (#{deptid},#{name});
    </insert>

    <select id="findAll" resultType="com.haishili.pojo.Department">
        select *
        from tb_dept;
    </select>
    <select id="findById" resultType="com.haishili.pojo.Department">
        select *
        from tb_dept where deptid = #{deptid};
    </select>
</mapper>